<div class="content">


	<mat-card class="gramophone">
		<mat-card-content>
			<div class ="disc">
				<img [ngClass]="nowPlaying?'rotate': ''" class="vinyl" src="assets/vinyl.png"/>
				<img [ngClass]="nowPlaying?'rotate': ''" class="album-img" src="{{currentAlbum.artworkUrl100}}" />

				<div class="album-controllers">
					<button (click)="previousAlbum();"
					#tooltip="matTooltip" matTooltip="Previous Album"
					mat-icon-button aria-label="Previous Album">
						<mat-icon>arrow_back_ios</mat-icon>
					</button>	

					<button (click)="nextAlbum();" 
					#tooltip="matTooltip" matTooltip="Next Album"
					mat-icon-button aria-label="Next Album">
						<mat-icon>arrow_forward_ios</mat-icon>
					</button>
				</div>
			</div>

			<div class ="player">
				<div class="album-info">
					<span class="info"><b>Artist: </b>{{currentAlbum.artistName}} </span><br>
					<span class="info"><b>Album: </b>{{currentAlbum.collectionName}}</span><br>
					<span class="info"><b>Year of release: </b>{{currentAlbum.releaseDate | date:'yyyy'}}</span><br><br>
					<span class="info" *ngIf="current.name!=''"><b>Now playing: </b>{{current.name}}</span>
				</div>
				<div class ="controllers">
					<button (click)="playPrevSong();" #tooltip="matTooltip" matTooltip="Previous Song" mat-icon-button aria-label="Previous Song">
						<mat-icon>skip_previous</mat-icon>
					</button>

					<button (click)="playCurrentSong();" mat-icon-button aria-label="Play or pause song" #tooltip="matTooltip" matTooltip="{{nowPlaying? 'Pause': 'Play'}}">
						<mat-icon>{{nowPlaying? 'pause': 'play_arrow'}}</mat-icon>
					</button>

					<button (click)="playNextSong();" #tooltip="matTooltip" matTooltip="Next Song"mat-icon-button aria-label="Previous Song">
						<mat-icon>skip_next</mat-icon>
					</button>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<table class="songs-list">
	  <tr class="single-song" *ngFor="let song of songsArray">
	  	<td>
	  		<button (click)="playSongImmediately(song);" mat-icon-button aria-label="Play or pause song">
				<mat-icon id="{{song.trackId}}" #tooltip="matTooltip" matTooltip="{{nowPlaying? 'Pause': 'Play'}} Preview" class="tbl-play">play_arrow</mat-icon>
			</button>
	  	</td>
	  	<td>{{song.trackName}}</td>
	  </tr>
	  
	</table>

	<!-- <mat-card class ="songs-list">
		<mat-card-content>
			<div class ="single-song" *ngFor="let song of songsArray">
				{{help(song)}}
			</div>
		</mat-card-content>
	</mat-card> -->
</div>

<router-outlet></router-outlet>